.forul{
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.forli{
    text-decoration: none;
    list-style-type: none;
    padding: 5px;
    margin: 0px 5px;
    border-radius: 10px;
    height: fit-content;
}
.fora{
    color: red;
    text-decoration: none;
}
.forbut{
    background-color: gold;
    color: white;
    padding: 10px 20px;
    height: fit-content;
    border-radius: 10px;
}
a{
    padding: 5px;
    margin: auto;
    border-bottom: 2px solid black;
    color: black;
}
a:hover{
    background: rgba(6, 177, 177, 0.515);
    color: white;
}
.forall{
    background-color: yellowgreen;
    height: 500px;
}
.forh1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 50;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.divicon{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
}
.fornetwork{
    width: 300px;
    text-align: center;
}
.forbut{
    background-color:orange;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.forimg{
    width: 50px;
}
.foropen{
    width: 300px;
    text-align: center;
}
.forlike{
    width: 300px;
    text-align: center;
}
.whats{
    padding: 10px;
    width: fit-content;
    position: fixed;
    bottom: 0px;
    right: 0px;
}
.whats img{
    height: 50px;
    margin: 15px 0px 40px 0px;
    float: right;
}